<div class="cont position-sticky">
    <div class="search-container">
        <input type="text"  placeholder="Search" class="align-self-center rounded-pill border-0">
        <svg class="position-absolute" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg> 
    </div>
</div>

<aside class="row mt-2">
   <div class="sub-to-premium col-12 row">
        <div class="col-12 sub-header">
            <span>Subscribe to Premium</span>
        </div>
        <div class="col-11 sub-text">
            <span>
                Subscribe to unlock new features and if eligible, receive a share of ads revenue.
            </span>
        </div>

        <a href="#" class="sub-link  d-flex text-decoration-none">
            <div class="button-description d-flex align-items-center justify-content-center">
                <span>Subscribe</span>
            </div>
        </a>
   </div>

   <div class="trends col-12 row mt-3">
    <div class="trends-for-you col-12">
        <span>Trends for you</span>
    </div>

    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>




    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>




    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>


    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>


    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>



    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>



    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>


    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>


    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>


    <div class="col-12 row topic-container">
        <div class="col-12 d-flex justify-content-between">
            <div class="topic-category">
                <span>Technology</span>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"></path></svg>
            </div>
        </div>
        <div class="col-12 trend-topic">
            <span>Discord</span>
        </div>
        <div class="col-12 no-of-posts"> 
            <span>234K posts</span>
        </div>
    </div>


   </div>


   <div class="who-to-follow col-12 row mt-3">
        <div class="col-12 follow-header">
            <span>Who to follow</span>
        </div>

        <div class="col-12 first-to-follow ps-4">
            <div class="row">
                <div class="col-9 row">
                    <div class="col-3 follow-profile">
                        <img src="photos/user.png" alt="u" class="w-100 h-100">
                    </div>
                    <div class="col-9 d-flex flex-column row gy-0">
                        <div class="follow-name text-start">
                            <span>Elon Musk</span>
                        </div>
                        <div class="follow-username text-start">
                            <span>@albionstublla</span>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center align-content-center flex-wrap">
                  <button class="twitter-button custom-button">Button</button>
                </div>
            </div>
        </div>

        <div class="col-12 first-to-follow ps-4">
            <div class="row">
                <div class="col-9 row">
                    <div class="col-3 follow-profile">
                        <img src="photos/user.png" alt="u" class="w-100 h-100">
                    </div>
                    <div class="col-9 d-flex flex-column row gy-0">
                        <div class="follow-name text-start">
                            <span>Elon Musk</span>
                        </div>
                        <div class="follow-username text-start">
                            <span>@elonmusk</span>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center align-content-center flex-wrap">
                  <button class="twitter-button custom-button">Button</button>
                </div>
            </div>
        </div>

        <div class="col-12 first-to-follow ps-4">
            <div class="row">
                <div class="col-9 row">
                    <div class="col-3 follow-profile">
                        <img src="photos/user.png" alt="u" class="w-100 h-100">
                    </div>
                    <div class="col-9 d-flex flex-column row gy-0">
                        <div class="follow-name text-start">
                            <span>Elon Musk</span>
                        </div>
                        <div class="follow-username text-start">
                            <span>@elonmusk</span>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center align-content-center flex-wrap">
                  <button class="twitter-button custom-button">Button</button>
                </div>
            </div>
        </div>

   </div>
</aside>